{% extends 'TMSTruck/base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <style>
        table{
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="main-body">
        {% if group == 'Accounting' %}
        {% include 'TMSTruck/navbars/accounting_navbar.html' %}

        {% elif group == 'Admin' %}
        {% include 'TMSTruck/navbars/admin_navbar.html' %}

        {% elif group == 'Hiring Manager' %}
        {% include 'TMSTruck/navbars/hiring_manager_navbar.html' %}

        {% elif group == 'Logistics Manager' %}
        {% include 'TMSTruck/navbars/logistics_manager.html' %}

        {% endif %}<br><br>
        <div class="col-md-6 mx-auto">
            <a style="display: flex; justify-content: center; "class="mb-4 alert alert-primary" href="{% url 'awaiting_loads' %}">Loads Awaiting Completion</a>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">All Loads</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Assigned Date</th>
                                    <th scope="col">Load Number</th>
                                    <th scope="col">Brokerage Name</th>
                                    <th scope="col">Broker Name</th>
                                    <th scope="col">Carrier</th>
                                    <th scope="col">Distance</th>
                                    <th scope="col">Pick Up Date</th>
                                    <th scope="col">Drop Off Date</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">Paid</th>

        
                                </tr>
                            </thead>
                            <tbody>
                                {% for loads in all_loads %}
                                <tr>
                                    <td>{{loads.assigned_date}}</td>
                                    <td><a href="{% url 'load_detail' loads.id %}">{{loads.load_number}}</a></td>
                                    <td>{{loads.brokerage_name}}</td>
                                    <td>{{loads.broker_name}}</td>
                                    <td>{{loads.assignToCarrier}}</td>
                                    <td>{{loads.distance}}</td>
                                    <td>{{loads.pickupDate}}</td>
                                    <td>{{loads.dropOffDate}}</td>
                                    {% if loads.is_active == True %}
                                    <td style="background-color: rgba(0, 255, 0, 0.603); border-radius: 10px ;">{{loads.is_active}}</td>
                                    {% else %}
                                    <td style="background-color: rgba(235, 23, 23, 0.479);border-radius: 10px ;">{{loads.is_active}}</td>
                                    {% endif %}
                                    

                                    {% if loads.is_paid == True %}
                                    <td style="background-color: rgba(0, 255, 0, 0.603); border-radius: 10px ;">{{loads.is_paid}}</td>
                                    {% else %}
                                    <td style="background-color: rgba(235, 23, 23, 0.479);border-radius: 10px ;">{{loads.is_paid}}</td>
                                    {% endif %}


                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</body>

</html>

{% endblock %}