{% extends 'TMSTruck/base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>
    <div class="main-body">
        {% if group == 'Accounting' %}
        {% include 'TMSTruck/navbars/accounting_navbar.html' %}

        {% elif group == 'Admin' %}
        {% include 'TMSTruck/navbars/admin_navbar.html' %}

        {% elif group == 'Hiring Manager' %}
        {% include 'TMSTruck/navbars/hiring_manager_navbar.html' %}

        {% elif group == 'Logistics Manager' %}
        {% include 'TMSTruck/navbars/logistics_manager.html' %}

        {% endif %}<br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title" style="font-weight: 400;">All Users</h3>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col"> <i class="fa fa-user"></i> Full Name</th>
                                    <th scope="col"> <i class="fa fa-envelope"></i> Email</th>
                                    <th scope="col"> <i class="fa fa-phone"></i> Phone</th>
                                    <th scope="col">  Status</th>
                                    <th scope="col"><i class="fa fa-percent"></i>Commission Rate</th>
                                    <th scope="col"> <i class="fa fa-users"></i> Assigned Groups</th>
                                    <th scope="col"> <i class="fa fa-address-book"></i> Address</th>
        
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in all_users %}
                                <tr>
                                    <td>{{user.firstName}} {{user.lastName}}</td>
                                  
                                    <td>{{user.Email}}</td>
                                    <td>{{user.Phone}}</td>
                                    <td>{{user.userStatus}}</td>
                                    <td>{{user.commissionRate}}%</td>
                                    <td>
                                    {% for i in user.user.groups.all %}
                                    {{i.name}},
                                    {% endfor %}
                                    </td>
                                    <td>{{user.address}}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</body>

</html>

{% endblock %}