Hey! {{firstname}} {{lastname}}

You got a new order from TruckOffice.

Here's the details:

Brokerage Name: {{form.brokerage_name.value}}
Broker Name: {{form.broker_name.value}}
Broker Address: {{form.assignToCarrier.value}}
Pickup Address: {{form.broker_address.value}}
Pick Up Date: {{form.pickupDate.value}}
Broker Phone: {{form.broker_phone.value}}
Broker Email: {{form.broker_email.value}}
Load Number: {{form.load_number.value}}
Drop Off Date: {{form.dropOffDate.value}}
First Available PickUp: {{form.first_availabe_pickup.value}}
Distance : {{form.distance.value}} miles
Weight : {{form.weight.value}} lbs
Rate : ${{form.rate.value}}
Stops : {{form.stops.value}}
Addresses: 
    {% for i in address %} 
    {{i}}
    {% endfor %}

